body{
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9px;
}

header{
  display: flex;
  height: 69px;
  border-bottom: 1px solid seashell;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.logo{
  margin-left: 10px;
  height: 50px;
}


.nav{
  display: block;
  text-decoration: underline;
}

span{
  margin: 12px;
}

a{
  color: seashell;
}

.mission{
  margin-top: 0px;
  display: flex;
  background-image: url(../images/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  justify-content: center;
  text-align: center;
}

.text, h2, h4{
  justify-content: center;
  align-self: center;
  flex-basis: 1200px;
  background-color: black;
  margin-top: 10px;
  margin-bottom: 8px;
}

h2{
  padding-bottom: 10px;
}
